[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git

[submodule "tokyonight.nvim"]
	path = config/bat/themes/tokyonight.nvim ohmyzsh
	url = https://github.com/folke/tokyonight.nvim.git
