.config/Bitwarden CLI/
.config/cache/
.config/configstore/*
.config/gh/
.config/netlify/
.config/pi/
.config/private_not_synced_folder
.config/pulse/
.config/rc-files
.config/tabtab/
.config/todo.sh/
.config/z/
.config/zsh/.zcompdum*
.config/zsh/.zsh_history
.ideas
.local
.oh-my-zsh
.termux/font.ttf
.termux/termux.d
.todo
Macdroid/macdroid-export.mdr
notes
scripts/.secrets
scripts/sherlock/
scripts/test.sh
z-stuff/plugins/common-aliases/README.md
z-stuff/plugins/web-search/README.md
z-stuff/plugins/z/README
z-stuff/plugins/z/README.md
z-stuff/system_updated.txt
books/*.txt.sorted
