.ideas
z-stuff/plugins/common-aliases/README.md 
z-stuff/plugins/web-search/README.md 
z-stuff/plugins/z/README 
z-stuff/plugins/z/README.md
.config/configstore/update-notifier-npm.json
z-stuff/system_updated.txt
